.landing {
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(/pics/bg1.gif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: URFAregular;
  padding: 20px;
  box-sizing: border-box;
}

.landing-content {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: center;
}

.intro-text h1 {
  font-family: URFAheavy;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.intro-text p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition:  0.3s;
}

.btn:hover {
  background-color: blueviolet;
  color: #fff;
}

@media (max-width: 800px) {
  .landing-content {
    flex-direction: column;
    gap: 30px;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-text p {
    font-size: 1rem;
  }

  .profile-photo img {
    width: 150px;
    height: 150px;
  }

  .btn {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .landing {
    height: 85vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .intro-text h1 {
    font-size: 1.8rem;
  }

  .intro-text p {
    font-size: 0.95rem;
    max-width: 280px;
  }

  .profile-photo img {
    width: 130px;
    height: 130px;
  }
  .landing{
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWszcnRpenQ1Mm1pdzV3bWNwb3QxbzhpMWlpOXI5Z211OTk1eXF0NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/EPpIpPVTpa5qM4XXU1/giphy.gif);
    background-position: center;
  }
}

@media (min-width: 800px){

}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #8a2be2;
  border-top: 6px solid #999;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#loader {
  transition: opacity 0.5s ease;
}
