* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: URFAheavy;
    src: url(/fonts/urfa-heavy.otf);
}

@font-face {
    font-family: URFAregular;
    src: url(/fonts/urfa-regular.otf);
}

body.no-scroll {
    overflow: hidden;
}

html, body {
    font-family: URFAregular;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: #8a2be2;
}

nav li:first-child {
    margin-right: auto;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: none;
    overflow: hidden;
}

.sidebar.active {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: white;
}

.white-text {
    color: white;
}

.blacksch{
    color: #555555;
}

/* EDUCATION/PROJECTS SECTION */
.education {
    padding-top: 10px;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quarter1 {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
        url("/pics/BBG.png");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quarter2 {
    width: 50%;
    height: 50%;
    background-color: #000000;
    color: white;
    font-family: URFAregular;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quarter3 {
    width: 50%;
    height: 50%;
    background-color: #000000;
    color: white;
    font-family: URFAregular;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quarter4 {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
        url("/pics/BP.png");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    text-align: center;
    color: white;
}

.overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.overlay button {
    background: white;
    color: black;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.overlay button:hover {
    background: blueviolet;
    color: white;
}

.quarter2 h3,
.quarter3 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.quarter2 p,
.quarter3 p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.9;
}

.Mehr{
    text-decoration: none;
    color: #000000;
    font-family: URFAregular;
}



/* RESPONSIVE */
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .education {
        height: 100vh;
        width: 100%;
        gap: 0.5rem;
    }

    .quarter2,
    .quarter3{
        display: none;
    }

    .quarter1,
    .quarter4 {
        background-attachment: scroll;
        width: 100%;
        background-position: center;
    }

    .quarter1,
    .quarter2,
    .quarter3,
    .quarter4 {
        width: 100%;
        height: 50vh;
    }
    .blacksch{
    color: #ffffff;
}
}

@media (min-width: 800px) {
    .hideOnDesktop {
        display: none;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 100%;
        z-index: 999;
    }
}

/* FILLER SECTION */
.filler {
    width: 100%;
    height: 100dvh;
}


